<!DOCTYPE html>
{% extends 'dashboard/warden_side/warden.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Enter your hostel details</h4>

                  <form class="forms-sample" method="POST" action="{% url 'update_hostel' hostel_data.id %}" enctype="multipart/form-data">
                      {% csrf_token %}
                    <div class="form-group">
                      <label for="exampleInputUsername1">Hostel name</label>
                      <input type="text" class="form-control" id="exampleInputUsername1"  name="name" value="{{hostel_data.name}}">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Location </label>
                      <input type="text" class="form-control" id="exampleInputEmail1" name="location" value="{{hostel_data.location}}">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Description</label>
                      <input type="text" class="form-control" id="exampleInputPassword1" name="description" value="{{hostel_data.description}}">
                    </div>
                       <div class="form-group">
                      <label for="exampleInputPassword1">Image</label>
                           <img src="{{hostel_data.image.url}}" width="120">
                      <input type="file" class="form-control" id="exampleInputPassword2" name="Image">
                    </div>

                    <button type="submit" class="btn btn-primary mr-2">Submit</button>

                  </form>
                </div>
              </div>
            </div>
</body>
</html>
{% endblock %}